<div class="card-product">
  <div class="grid grid-cols-1 gap-2">
    <div
      class="h-[144px] bg-primary-background rounded-[8px] relative cursor-pointer group overflow-hidden btn-gift-details"
      data-wishlist="{{id}}">
      <img class="w-full h-full object-contain group-hover:scale-110 transition-transform" src="{{ imageUrl }}"
        alt="{{ title }}" loading="lazy">
    </div>
    <p class="text-body-sm text-black whitespace-nowrap text-ellipsis overflow-hidden">
      {{ title }}
    </p>
    <button class="btn btn-view-details btn-add-to-cart py-2" data-variant-id="{{ variantId }}">Add to Cart</button>
  </div>
</div>