<div class="card-product just-created" id="card-mystore-product-{{product_id}}">
  <div class="grid grid-cols-1 gap-2">
    <div
      class="h-[100px] bg-primary-background rounded-[8px] relative overflow-hidden btn-card-edit"
      data-mystore-product="{{product_id}}">
      <img class="w-full h-full object-contain" src="{{ product_photo }}"
        alt="{{ product_title }}" loading="lazy" id="photo">
    </div>
    <span class="text-body-sm text-black whitespace-nowrap text-ellipsis overflow-hidden" id="title">
      {{ product_title }}
    </span>
    <div class="flex items-center justify-between">
      <span class="text-body-xs text-accent-peach"> $<span id="price">{{ product_price }}</span></span>
      <div class="flex gap-1">
        <button class="btn btn-wish-icon btn-mystore-product-edit" data-mystore-product="{{product_id}}">
          <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none">
            <path
              d="M12.08 4.107a.58.58 0 0 0 0-.823L10.717 1.92a.58.58 0 0 0-.823 0L8.82 2.987l2.188 2.187M1.75 10.062v2.188h2.188l6.451-6.458-2.187-2.187-6.452 6.457z"
              fill="#575757" />
          </svg>
        </button>
        <button class="btn btn-wish-icon btn-mystore-product-delete" data-modal-target="modal-delete-mystore-product"
          data-mystore-product="{{product_id}}">
          <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M5.25 1.75v.583H2.335V3.5h.583v7.583a1.167 1.167 0 0 0 1.167 1.167h5.833a1.167 1.167 0 0 0 1.167-1.167V3.5h.583V2.333H8.751V1.75h-3.5zm0 2.917h1.167v5.25H5.251v-5.25zm2.334 0h1.167v5.25H7.584v-5.25z"
              fill="#575757" />
          </svg>
        </button>
      </div>
    </div>
  </div>
</div>