<div class="flex gap-4 h-fit">
  <div class="w-[82px] h-[82px] flex-shrink-0">
    <img class="w-full h-full object-contain" src="{{ imageUrl }}" alt="{{ title }}" loading="lazy">
  </div>
  <div class="flex flex-col justify-between flex-grow gap-4">
    <h5 class="text-black md:whitespace-nowrap md:text-ellipsis md:overflow-hidden md:w-[300px]">{{title}}</h5>
    <button class="btn w-fit btn-remove-from-cart" data-variant-id="{{ variantId }}">remove</button>
  </div>
  <div class="flex flex-col justify-between gap-4">
    <p>${{ price }}</p>
    <span class="text-right">gift</span>
  </div>
</div>