<main class="overflow-auto">
  <div class="bg-[url(landing-bg.svg)] bg-cover bg-no-repeat min-h-screen">
    <div class="border-b border-primary-border">
      <div class="container px-[100px]">
        {% section 'account_header' %}
      </div>
    </div>

    <div class="container px-[100px] py-[100px]">
      <div class="grid grid-cols-2 gap-6 mb-12">
        <div class="flex flex-col items-center">
          <h1 class="text-heading-h1 text-primary-black mb-6">
            Let Your Fans <span class="text-accent-peach">Support</span> You
          </h1>
          <p class="text-body-xl text-primary-text mb-8">
            Create your personal wishlist for fans to gift from and sell your unique creations directly to your
            supporters. All without compromising your privacy.
          </p>
          <div class="w-full flex items-center gap-4 mb-8">
            {{ 'landing-users.png' | asset_url | img_tag: 'users', 'h-[60px]', 'x60' }}
            <span class="text-body-xl text-primary-black">250K creators joined us!</span>
          </div>
          <div class="w-full flex items-center gap-4">
            <a class="btn btn-primary !py-4" href="#"> 🔥 Create Page </a>
            <a class="btn btn-text-primary flex items-center gap-[10px]" href="#">
              <span>Learn More</span>
              <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="m14.43 6.68 6.07 6.07-6.07 6.07M3.5 12.75h16.83" stroke="currentColor" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </a>
          </div>
        </div>
        {{ 'landing-img0.png' | asset_url | img_tag: 'landing-img0', 'w-full', '600x' }}
      </div>
      <p class="text-body-sm text-primary-text text-center mb-16">
        Connect with your audience, no matter where they are.
      </p>
      <div class="grid grid-cols-5 opacity-40">
        <div class="flex items-center justify-center">
          {{ 'logo-tiktok.svg' | asset_url | img_tag: 'tiktok', '', 'x38' }}
        </div>
        <div class="flex items-center justify-center">
          {{ 'logo-instagram.svg' | asset_url | img_tag: 'instagram', '', 'x38' }}
        </div>
        <div class="flex items-center justify-center">
          {{ 'logo-youtube.svg' | asset_url | img_tag: 'youtube', '', 'x38' }}
        </div>
        <div class="flex items-center justify-center">
          {{ 'logo-twitter.svg' | asset_url | img_tag: 'twitter', '', 'x38' }}
        </div>
        <div class="flex items-center justify-center">
          {{ 'logo-twitch.svg' | asset_url | img_tag: 'twitch', '', 'x38' }}
        </div>
      </div>
    </div>
  </div>
  <div class="container pt-26">
    <div class="px-[320px] flex flex-col items-center gap-4 text-center">
      <div class="w-fit px-5 py-3 bg-accent-purple/10 text-accent-purple text-[18px] rounded-[16px]">It's free! 🎉</div>
      <h2 class="text-heading-h2 text-primary-black">Your Wishlist, Your Store - Made Easy!</h2>
      <p class="px-[142px] text-body-md text-primary-text">
        With Fangift, setting up your wishlist and store is effortless, intuitive, and speedy. You can get started in
        less than 10 minutes.
      </p>
    </div>
    <div class="grid grid-cols-2">
      {{ 'landing-img1.png' | asset_url | img_tag: 'landing img1', '', '600x' }}
      <div class="grid divide-y divide-primary-border pr-[100px] py-[96px]">
        <div class="flex gap-[42px] h-fit py-[30px]">
          {{ 'icon-heart.svg' | asset_url | img_tag: 'heart', 'h-[58px]' }}
          <div class="grid grid-cols-1 gap-4">
            <h4 class="text-heading-h4 text-primary-black ">Build & Share Your Wishlist</h4>
            <p class="text-body-md text-primary-text">
              Join Fangift, curate your wishlist, and share it with your fans right away!
            </p>
            <a class="btn btn-text-primary flex items-center gap-[10px] !p-0" href="#">
              <span>How it works</span>
              <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="m14.43 6.68 6.07 6.07-6.07 6.07M3.5 12.75h16.83" stroke="currentColor" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </a>
          </div>
        </div>
        <div class="flex gap-[42px] h-fit py-[30px]">
          {{ 'icon-gift.svg' | asset_url | img_tag: 'gift', 'h-[58px]' }}
          <div class="grid grid-cols-1 gap-4">
            <h4 class="text-heading-h4 text-primary-black ">Receive Gifts from your fans</h4>
            <p class="text-body-md text-primary-text">
              Your fans can show their support by gifting you items from your wishlist, providing a direct and
              meaningful connection.
            </p>
            <a class="btn btn-text-primary flex items-center gap-[10px] !p-0" href="#">
              <span>Get Started</span>
              <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="m14.43 6.68 6.07 6.07-6.07 6.07M3.5 12.75h16.83" stroke="currentColor" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </a>
          </div>
        </div>
        <div class="flex gap-[42px] h-fit py-[30px]">
          {{ 'icon-msg.svg' | asset_url | img_tag: 'message', 'h-[58px]' }}
          <div class="grid grid-cols-1 gap-4">
            <h4 class="text-heading-h4 text-primary-black ">Celebrate Your Gifts</h4>
            <p class="text-body-md text-primary-text">
              Unwrap the joy each gift brings. Show your excitement with a social media post or create a fun unboxing
              video!
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="bg-primary-background">
    <div class="container grid grid-cols-12">
      <div class="col-span-5 pl-[100px] py-[100px] flex items-center">
        <div class="grid grid-cols-1 gap-6">
          <div class="w-fit px-5 py-3 bg-accent-blue/10 text-accent-blue text-[18px] rounded-[16px]">
            🛍️ Become a Vendor
          </div>
          <h2 class="text-heading-h2 text-primary-black">Sell Your Creations Directly to Your Fans</h2>
          <p class="text-body-md text-primary-text">
            Turn your creative passion into a business. You can easily add your products to your Fangift store. All you
            need are the details and images of your product, and we handle the rest – connecting your creations directly
            to your fans.
          </p>
          <a class="btn btn-primary flex items-center gap-[10px] w-fit !py-4" href="#">
            <span>Learn More</span>
            <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="m14.43 6.68 6.07 6.07-6.07 6.07M3.5 12.75h16.83" stroke="currentColor" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          </a>
        </div>
      </div>
      {{ 'landing-img2.png' | asset_url | img_tag: 'vender image', 'col-span-7 min-h-[600px] mb-12', '800x' }}
    </div>
  </div>

  <div class="bg-accent-blue">
    <div class="container px-[420px] py-[100px] flex flex-col items-center text-center">
      {{ 'landing-users1.png' | asset_url | img_tag: 'users', 'mx-auto h-[60px] mb-[52px]', 'x60' }}
      <h2 class="text-heading-h2 text-primary-black mb-4">Join our Community</h2>
      <p class="text-body-md text-primary-black mb-[52px]">
        Creators from around the world have chosen Fangift to engage with their fans. Discover their stories and
        experiences, and how you too can maximize the power of your fan connection.
      </p>
      <div class="flex gap-4">
        <div class="p-4 border border-primary-border bg-primary-white rounded-[16px] flex items-center text-[18px] w-[287px]">
          <span class="text-primary-black">fangift.com/</span>
          <input
            id="username-creator"
            name="username-creator"
            type="text"
            class="p-0 border-none focus:ring-0 placeholder-primary-border w-full"
            placeholder="@username"
            autofocus
          >
        </div>
        <button
          id="btn-creator"
          class="btn btn-primary"
          type="submit"
        >
          Create page 🌟
        </button>
      </div>
    </div>
  </div>
</main>
