<footer class="bg-[url(footer-bg.svg)] bg-cover bg-no-repeat bg-primary-black">
  <div class="border-b border-primary-border px-[100px] pt-[100px]">
    <div class="container">
      <div class="grid grid-cols-5 pb-[100px] gap-8">
        <div>
          {{ 'logo-light.png' | asset_url | img_tag: 'logo', 'w-[120px] mb-5', '120x' }}
          <p class="text-body-sm text-primary-gray">
            We empower creators to monetize their influence through personalized wishlists and storefronts, fostering
            deeper connections with their fans.
          </p>
        </div>
        <div class="pl-4">
          <div class="text-primary-white font-plus-semi text-[16px] mb-8">General</div>
          <ul class="text-body-sm text-primary-gray grid grid-cols-1 gap-4">
            <li><a href="#" class="cursor-pointer hover:underline">Home</a></li>
            <li><a href="#" class="cursor-pointer hover:underline">Wishlist</a></li>
            <li><a href="#" class="cursor-pointer hover:underline">Vendors</a></li>
          </ul>
        </div>
        <div class="pl-4">
          <div class="text-primary-white font-plus-semi text-[16px] mb-8">Help</div>
          <ul class="text-body-sm text-primary-gray grid grid-cols-1 gap-4">
            <li><a href="#" class="cursor-pointer hover:underline">How it works</a></li>
            <li><a href="/pages/faq" class="cursor-pointer hover:underline">FAQ</a></li>
            <li><a href="#" class="cursor-pointer hover:underline">Get in Touch</a></li>
          </ul>
        </div>
        <div class="pl-4">
          <div class="text-primary-white font-plus-semi text-[16px] mb-8">Legal</div>
          <ul class="text-body-sm text-primary-gray grid grid-cols-1 gap-4">
            <li><a href="#" class="cursor-pointer hover:underline">Terms of Service</a></li>
            <li><a href="#" class="cursor-pointer hover:underline">Privacy Policy</a></li>
            <li><a href="#" class="cursor-pointer hover:underline">Data Security</a></li>
          </ul>
        </div>
        <div class="pl-4">
          <div class="text-primary-white font-plus-semi text-[16px] mb-8">Follow us</div>
          <div class="grid grid-cols-4 gap-4 w-fit">
            {{ 'icon-instagram.svg' | asset_url | img_tag: 'instagram' }}
            {{ 'icon-facebook-filled.svg' | asset_url | img_tag: 'facebook' }}
            {{ 'icon-youtube.svg' | asset_url | img_tag: 'youtube' }}
            {{ 'icon-twitter.svg' | asset_url | img_tag: 'twitter' }}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5 text-center text-body-sm text-primary-background/70">
    Copyright © Fangift 2023. All Rights Reserved.
  </div>
</footer>
