<div class="bg-primary-white">
  <div class="container p-[100px]">
    <div class="px-[260px] flex flex-col items-center gap-6 text-center mb-20">
      <div class="w-fit px-5 py-3 bg-accent-purple/10 text-accent-purple text-[18px] rounded-[16px]">
        ⭐️ Testimonials
      </div>
      <h2 class="text-heading-h2 text-primary-black">Real Stories from Real Creators</h2>
      <p class="text-body-md text-primary-text">
        Hear it straight from our creators! Check out their experiences with Fangift.
      </p>
    </div>
    <div class="grid grid-cols-3 gap-[62px]">
      <div class="px-[43px] py-[32px] border border-primary-border rounded-[4px] flex flex-col justify-between">
        <div class="mb-6">
          <div class="grid grid-cols-5 gap-1 w-fit mb-[26px]">
            {{ 'icon-star.svg' | asset_url | img_tag: 'star1' }}
            {{ 'icon-star.svg' | asset_url | img_tag: 'star2' }}
            {{ 'icon-star.svg' | asset_url | img_tag: 'star3' }}
            {{ 'icon-star.svg' | asset_url | img_tag: 'star4' }}
            {{ 'icon-star.svg' | asset_url | img_tag: 'star5' }}
          </div>
          <p class="text-[18px] text-primary-text">
            I've seen such a boost in engagement since joining Fangift. My fans love the wishlist feature, and I love
            the support I've been getting. Fangift really cares about its creators!
          </p>
        </div>
        <div class="flex items-center gap-6">
          {{ 'user0.png' | asset_url | img_tag: 'avatar', 'w-[64px]', '64x' }}
          <div class="grid grid-cols-1 gap-2 text-body-md">
            <span class="text-primary">Emily Rodriguez</span>
            <span class="text-accent">@EmRodriguez</span>
          </div>
        </div>
      </div>
      <div class="px-[43px] py-[32px] border border-primary-border rounded-[4px] flex flex-col justify-between">
        <div class="mb-6">
          <div class="grid grid-cols-5 gap-1 w-fit mb-[26px]">
            {{ 'icon-star.svg' | asset_url | img_tag: 'star1' }}
            {{ 'icon-star.svg' | asset_url | img_tag: 'star2' }}
            {{ 'icon-star.svg' | asset_url | img_tag: 'star3' }}
            {{ 'icon-star.svg' | asset_url | img_tag: 'star4' }}
            {{ 'icon-star.svg' | asset_url | img_tag: 'star5' }}
          </div>
          <p class="text-[18px] text-primary-text">
            Fangift is a game-changer! It's so user-friendly and versatile. And the ability to sell my own products in
            my storefront has opened a new revenue stream for me. Highly recommend it.
          </p>
        </div>
        <div class="flex items-center gap-6">
          {{ 'user1.png' | asset_url | img_tag: 'avatar', 'w-[64px]', '64x' }}
          <div class="grid grid-cols-1 gap-2 text-body-md">
            <span class="text-primary">Jake Thompson</span>
            <span class="text-accent">@JakeTheCreator</span>
          </div>
        </div>
      </div>
      <div class="px-[43px] py-[32px] border border-primary-border rounded-[4px] flex flex-col justify-between">
        <div class="mb-6">
          <div class="grid grid-cols-5 gap-1 w-fit mb-[26px]">
            {{ 'icon-star.svg' | asset_url | img_tag: 'star1' }}
            {{ 'icon-star.svg' | asset_url | img_tag: 'star2' }}
            {{ 'icon-star.svg' | asset_url | img_tag: 'star3' }}
            {{ 'icon-star.svg' | asset_url | img_tag: 'star4' }}
            {{ 'icon-star.svg' | asset_url | img_tag: 'star5' }}
          </div>
          <p class="text-[18px] text-primary-text">
            Fangift's privacy protection has given me peace of mind. I feel safe sharing my wishlist and storefront with
            my fans, and I love the personalized gift messages I receive. It truly enhances my fan connection.
          </p>
        </div>
        <div class="flex items-center gap-6">
          {{ 'user2.png' | asset_url | img_tag: 'avatar', 'w-[64px]', '64x' }}
          <div class="grid grid-cols-1 gap-2 text-body-md">
            <span class="text-primary">Ava Patel</span>
            <span class="text-accent">@AvaOnAir</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
