<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <title>{{ 'fangift' | strip }}</title>

    {%- if page_description -%}
      <meta name="description" content="{{ page_description | escape }}">
    {%- endif -%}

    {% render 'open-graph-tags' %}
    {% render 'twitter-card' %}

    {% comment %} {{ content_for_header }} {% endcomment %}

    {{ 'app.min.css' | asset_url | stylesheet_tag }}

    {{ 'jquery-3.7.0.min.js' | asset_url | script_tag }}
    {{ 'flowbite.min.js' | asset_url | script_tag }}
    {{ 'app.min.js' | asset_url | script_tag }}
  </head>

  <body id="{{ page_title | handle }}" class="container mx-auto bg-[url(bg.svg)] bg-cover bg-no-repeat w-screen h-screen overflow-auto">
    <header class="w-full h-[98px] flex items-center justify-between px-[100px]">
      <a id="logo" href="/">
        {{ 'logo.svg' | asset_url | img_tag: shop.name }}
      </a>

      {% render 'site-nav' %}
    </header>

    <main role="main">
      {{ content_for_layout }}
    </main>
  </body>
</html>