<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    {%- if canonical_url != blank -%}
      <link rel="canonical" href="{{ canonical_url }}">
    {%- endif -%}

    {%- if settings.favicon != blank -%}
      <link
        rel="shortcut icon"
        href="{{ settings.favicon | img_url: '32x32' }}"
        type="image/png">
    {%- endif -%}
    {%- capture seo_title -%}
      {%- if request.page_type == 'search' and search.performed == true -%}
        {{ 'general.search.heading' | t: count: search.results_count }}: {{ 'general.search.results_with_count' | t: terms: search.terms, count: search.results_count }}
      {%- else -%}
        {{ page_title }}
      {%- endif -%}
      {%- if current_tags -%}
        {%- assign meta_tags = current_tags | join: ', ' -%} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags -}}
      {%- endif -%}
      {%- if current_page != 1 -%}
        &ndash; {{ 'general.meta.page' | t: page: current_page }}
      {%- endif -%}
      {%- assign escaped_page_title = page_title | escape -%}
      {%- unless escaped_page_title contains shop.name -%}
        &ndash; {{ shop.name }}
      {%- endunless -%}
    {%- endcapture -%}
    <title>{{ seo_title | strip }}</title>

    {%- if page_description -%}
      <meta name="description" content="{{ page_description | escape }}">
    {%- endif -%}

    {% render 'open-graph-tags' %}
    {% render 'twitter-card' %}

    {{ content_for_header }}

    {% comment %} Reference built css file {% endcomment %}
    {{ 'app.min.css' | asset_url | stylesheet_tag }}

    {% comment %} Reference built js file {% endcomment %}
    <script src="{{ 'main.min.js' | asset_url }}" defer="defer"></script>

    {%- if request.page_type contains 'customers/' -%}
      <script src="{{ 'shopify_common.js' | shopify_asset_url }}" defer="defer"></script>
    {%- endif -%}
  </head>

  <body id="{{ page_title | handle }}" class="bg-[url(bg.svg)] bg-cover bg-no-repeat w-screen h-screen overflow-auto">
    <header class="h-[98px] container flex mx-auto items-center justify-between">
      <a id="logo" href="/">
        {{ 'logo.svg' | asset_url | img_tag: shop.name }}
      </a>

      {% render 'site-nav' %}
    </header>

    <main role="main">
      {{ content_for_layout }}
    </main>

    <footer>
      Copyright &copy; {{ 'now' | date: '%Y' }}
      {{ shop.name }}. {{ powered_by_link }}.
    </footer>
  </body>
</html>