<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <title>{{ 'fangift' | strip }}</title>

    {%- if page_description -%}
      <meta name="description" content="{{ page_description | escape }}">
    {%- endif -%}

    {% render 'open-graph-tags' %}
    {% render 'twitter-card' %}

    {{ content_for_header }}

    {{ 'app.min.css' | asset_url | stylesheet_tag }}

    <script src="{{ 'jquery-3.7.0.min.js' | asset_url }}" defer></script>
    <script src="{{ 'flowbite.min.js' | asset_url }}" defer></script>
    <script src="{{ 'app.min.js' | asset_url }}" defer></script>
  </head>

  <body id="{{ page_title | handle }}">
    {{ content_for_layout }}
  </body>
</html>